.App {
  border-radius: 20px;
  padding: 25px;
  max-width: 960px;
  margin: 0 auto;
}

.App h1 {
  text-align: center;
  color: #153447;
}

.App footer {
  font-size: 13px;
  text-align: center;
  color: #153447;
}
